<h1>Listing terrains</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Civ</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @terrains.each do |terrain| %>
  <tr>
    <td><%= terrain.type %></td>
    <td><%= terrain.lat %></td>
    <td><%= terrain.lng %></td>
    <td><%= terrain.civ_id %></td>
    <td><%= terrain.city_id %></td>
    <td><%= link_to 'Show', terrain %></td>
    <td><%= link_to 'Edit', edit_terrain_path(terrain) %></td>
    <td><%= link_to 'Destroy', terrain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Terrain', new_terrain_path %>
