<p id="notice"><%= notice %></p>


<div id="map">
	<% terrain = @map.terrains %>
	<% tile_number = 0 %>
	<% @map.height.times do %>
		<span class="lat">
			<% @map.width.times do %>
				<% @terrain = Terrain.find(terrain[tile_number]) %>
				<div id="tile<%= @terrain.id %>" class="tile <%= @terrain.biome_string %>" data-id='<%= @terrain.id %>' data-biome='<%= @terrain.biome_string %>'></div>
				<% tile_number += 1 %>
			<% end %>
		</span>
	<% end %>
</div>

<p id="biomeGuide"></p>