<p id="notice"><%= notice %></p>

<%= render 'layouts/menu' %>

<div id="map">
	<% terrains = @map.terrains.sort_by {|terrain| terrain.id}%>
	<% tile_number = 0 %>
	<% @map.height.times do %>
		<span class="lat">
			<% @map.width.times do %>
				<% @terrain = terrains[tile_number] %>
				<div id="tile<%= @terrain.id %>" class="tile <%= @terrain.biome_string %>" data-id='<%= @terrain.id %>' data-biome='<%= @terrain.biome_string %>'></div>
				<% tile_number += 1 %>
			<% end %>
		</span>
	<% end %>
</div>

<div id="mapEdit" class="mapEdit">
	<%= render "edit" %>
</div>